ansible-core==2.14.14
async-timeout==4.0.2
certifi==2025.1.31
cffi==1.14.5
chardet==4.0.0
cryptography==36.0.1
dbus-python==1.2.18
Deprecated==1.2.13
distro==1.5.0
et_xmlfile==2.0.0
idna==2.10
jwcrypto==0.8
kagglehub==0.3.12
numpy==2.0.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-nccl-cu12==2.26.2.post1
nvidia-nvjitlink-cu12==12.6.85
openpyxl==3.1.5
packaging==20.9
pandas==2.2.3
ply==3.11
pmlb==1.0.1.post3
pycairo==1.20.1
pycparser==2.20
PyGObject==3.40.1
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==5.4.1
redis==4.3.3
requests==2.25.1
resolvelib==0.5.4
scipy==1.13.1
simplejson==3.17.6
six==1.15.0
systemd-python==234
threadpoolctl==3.5.0
tqdm==4.67.1
tzdata==2025.1
ucimlrepo==0.0.7
urllib3==1.26.5
websockify==0.11.0
wrapt==1.13.3
